<!DOCTYPE HTML>
<html>
	<head>
		<title>김인언 ❤ 김동영 결혼식에 초대합니다</title>
		<meta property="og:image" content="{{ url_for('static', filename='images/5.jpg')}}" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/clipboard.min.js') }}" charset="euc-kr"></script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-836EY3Q10X"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-836EY3Q10X');
		</script>
		<script>
			function attend(){
					$.ajax({
						type : 'POST',                                
						url : './db_attend',
						success : function(){
								alert("참석 확인 감사합니다.");
						}
					});
				}
		</script>
		<script>
			function book(){
				var name = $('#thename').val();
				var phone = $('#thephone').val();
				var message = $('#themessage').val();

				var postdata = {
					'name':name, 'phone':phone, 'message':message
				}
				alert("축하 말씀 감사합니다.");
				$.ajax({
					type: 'POST',
					url: './db_book',
					data: JSON.stringify(postdata),
					dataType : 'JSON',
					contentType: "application/json",
					success: function(data){
						$("#name1").text(data.data['name1']);
						$("#text1").text(data.data['text1']);
						
						$("#name2").text(data.data['name2']);
						$("#text2").text(data.data['text2']);

						$("#name3").text(data.data['name3']);
						$("#text3").text(data.data['text3']);

						$("#name4").text(data.data['name4']);
						$("#text4").text(data.data['text4']);

						$("#name5").text(data.data['name5']);
						$("#text5").text(data.data['text5']);
					},
					error: function(request, status, error){
						alert('ajax 통신 실패')
						alert(error);
					}
				});
			}
		</script>
		<style>
			.carousel-inner .carousel-item{
			height:55vh;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			}

			.pl {
				margin : 0; 
				padding-top:0; 
				margin-bottom:0;
			}
			.customoverlay {position:relative;bottom:0px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
			.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
			.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
			.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
			.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}

		</style>
	</head>
	<body class="index is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="http://iu.dykim.net">김인언 ❤ 김동영 <span> </span></a></h1>
					
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="inner">

						<header>
							<h2>김인언 / 김동영</h2>
						</header>
						<p style="line-height:1.5;">2021년 9월 11일 토요일 </p>
						<p style="line-height:1.5;">	<strong>오후 12시 50분</strong></p>
						<p style="line-height:1.5;"> 대구 M 스타하우스 </p>
						<p style="line-height:1.5;"> 2층 모닝스타홀</p>
						<footer>
							<ul class="buttons stacked">
								<li><a href="#main" class="button fit scrolly">결혼합니다.</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-heart"></span>
						<h2>저희 결혼식에 초대합니다</h2>
						<p class="pl">서로가 마주 보며 쌓아온 사랑을 </p>
						<p class="pl">	이제 함께 한 곳을 바라보며</p>
						<p class="pl">	걸어갈 수 있는 큰 사랑으로 키우고자 합니다.</p>
						<p class="pl">	저희 두 사람이 사랑의 이름으로 </p>
						<p class="pl">	지켜나갈 수 있게 앞날을</p>
						<p class="pl">	축복해 주시면 감사하겠습니다.</p>
							<p></p>
							<p class="pl">2021년 9월 11일 토요일 </p>
							<p class="pl"><strong>오후 12시 50분</strong></p>
							
							<p class="pl">대구 M 스타하우스 </p>
							
							<p class="pl">2층 모닝스타홀</p>
							<p> </p>
							<a href="{{ url_for('static', filename='iCal-20210715-093040.ics') }}"></a>
							<a href="{{ url_for('static', filename='ical.html') }}"></a>
							<a target="_blank" href="https://urlopen.link/bit.ly/3xCGazs" class="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
								<path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
								<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
							  </svg> 캘린더에 추가하기 (아이폰)</a>
							<a href="https://urlopen.link/bit.ly/3wIvjma" class="button">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
									<path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
								  </svg> 캘린더에 추가하기 (구글) </a>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special">
							<div class="row gtr-50">
								<div class="col-6 col-12-narrower">

									<section>
										<span class="icon solid featured"></span>
										
										<header>
											<h2>신부 <b>김인언</b>
												<a href="tel:010-5221-9459"><i class="fa fa-phone" aria-hidden="true"></i> </a>
												<a href="sms:010-5221-9459"><i class="fa fa-commenting" aria-hidden="true"></i> </a>
											</h2>
										</header>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
									<span class="icon solid featured"></span>
									<header>
										<h2>신랑 <b>김동영</b>
										<a href="tel:010-6616-9430" ><i class="fa fa-phone" aria-hidden="true"></i> </a>
										<a href="sms:010-6616-9430" ><i class="fa fa-commenting" aria-hidden="true"></i> </a></h2>
									</header>
									</section>

								</div>
								
							</div>
						</section>
						<section class="wrapper style5 container special">
							<div class="row gtr-50">
								
								<div class="col ">
									<section class="border">
										<header>
											<p></p>
											<h3>신부측 혼주</h3>
										</header>
										<div class="row gtr-50">
											<div >
												<h2>김한진<a href="tel:010-5221-9459" ><i class="fa fa-phone" aria-hidden="true"></i> </a>
													<a href="sms:010-5221-9459" ><i class="fa fa-commenting" aria-hidden="true"></i> </a></h2>
												
											</div>
											<div>
												<h2>이정인
													<a href="tel:010-5395-9459" ><i class="fa fa-phone" aria-hidden="true"></i> </a>
												<a href="sms:010-5395-9459" ><i class="fa fa-commenting" aria-hidden="true"></i> </a>
												</h2> 
												
											</div>
										</div>
										<p></p>
									</section>

								</div>
								<div class="col">
									<section class="border">
										<header>
											<p></p>
											<h3>신랑측 혼주</h3>
										</header>
										<div class="row gtr-50">
											<div >
												<h2>김경덕
													<a href="tel:010-8576-0681" ><i class="fa fa-phone" aria-hidden="true"></i> </a>
												<a href="sms:010-8576-0681" ><i class="fa fa-commenting" aria-hidden="true"></i> </a>
												</h2> 
												
											</div>
											<div >
												<h2>박금숙
													<a href="tel:010-8586-0699" ><i class="fa fa-phone" aria-hidden="true"></i> </a>
												<a href="sms:010-8586-0699" ><i class="fa fa-commenting" aria-hidden="true"></i> </a>
												</h2> 
												
											</div>
										</div>
										<p></p>
									</section>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">

							<section>
								<header>
									<h2>오시는 길</h2>
									<h3>대구 M 스타하우스</h3>
									<p class="pl">대구광역시 동구 동촌로 316 스타하우스 </p><p class="pl">(대구 동구 방촌동 1113-320)</p>
									<p></p>
								</header>
								<div>
								<div style="position: relative;">
									<div class="border" id="map" style="width:100%;height:400px;position:relative;"></div>
									<div style="width:80%;height:400px;z-index:10;position:absolute;background-color:transparent;top:0px;left:0px;"></div>
							    </div>
								<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=69b1189e0aaea151a4b379660bfad606"></script>
								<script>
									var container = document.getElementById('map');
									var options = {
										center: new kakao.maps.LatLng(35.878328, 128.673854),
										draggable: false,
										level: 7
									};

									var map = new kakao.maps.Map(container, options);
									

									// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
									var content = '<div class="customoverlay">' +
										'  <a href="https://map.kakao.com/link/map/12412463" target="_blank">' +
										'    <span class="title">인언&동영 결혼식 (대구 M 스타하우스)</span>' +
										'  </a>' +
										'</div>';

									// 커스텀 오버레이가 표시될 위치입니다 
									var position = new kakao.maps.LatLng(35.878328, 128.673854);  

									// 커스텀 오버레이를 생성합니다
									var customOverlay = new kakao.maps.CustomOverlay({
										map: map,
										position: position,
										content: content,
										yAnchor: 1 
									});

									// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
									var zoomControl = new kakao.maps.ZoomControl();
									map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
								</script>
								<p></p>
								</div>
								<div>
									<a href="http://naver.me/5bat9dlJ" class="button">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
										<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
										<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
									  </svg> 네이버 지도에서 열기</a>
									<a href="http://www.tmap.co.kr/tmap2/mobile/tmap.jsp?scheme=tmap&host=poi-detail&poiid=2638059" class="button">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
										<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
									  </svg> 티맵에서 열기</a>
								</div>
								<div>
									<p></p>
									<h2>자가용</h2>
									<p style="text-align: center;">동대구 IC 에서 5분, 주차 1,000대 수용</p>
									<!--<h2>셔틀버스 안내</h2>
									<p>예식 당일 ?시, ?앞 "??셔픝버스" 이용</p>-->
									<h2>지하철</h2>
									<p style="text-align: center;">대구 지하철 1호선 방촌역3번 출구에서 353m (도보 5분)</p>
									<h2>버스</h2>
									<p style="text-align: center;">방촌치안센터 하차, 618, 719, 805, 818, 836, 980, 동구1, 동구1-1, 동구2</p>
								</div>
							</section>

						</section>
					<!-- CTA -->
				<section id="cta">

					<header>
						<h2>신랑 신부에게 <strong>마음전하기</strong></h2>
						<p>축하의 의미로 축의금을 전달해보세요</p>
					</header>
					<footer>
						<ul class="buttons">
							
							<button type="button" class="button btn" data-bs-toggle="modal" data-bs-target="#brideModal">
								신부 계좌번호 보기
							</button>
							<!-- Modal -->
							<div class="modal fade" id="brideModal" tabindex="-1" aria-labelledby="brideModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="brideModalLabel">신부 계좌번호</h5>
									</div>
									<div class="modal-body">
									<strong id="bridenum" value="농협 3021427415271">농협 3021427415271 </strong> 김인언
									</div>
									<div class="modal-footer">
									<button type="button" class="button btn cbtn" data-clipboard-action="copy" data-clipboard-target="#bridenum">계좌번호 복사하기</button>
									<button type="button" class="button btn" data-bs-dismiss="modal">닫기</button>
									</div>
								</div>
								</div>
							</div>		
							<button type="button" class="button btn" data-bs-toggle="modal" data-bs-target="#groomModal">
								신랑 계좌번호 보기
							</button>
							<div class="modal fade" id="groomModal" tabindex="-1" aria-labelledby="groomModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="groomModalLabel">신랑 계좌번호</h5>
									</div>
									<div class="modal-body">
									<strong id="groomnum" value="우리 100260437066">우리 100260437066 </strong> 김동영
									</div>
									<div class="modal-footer">
									<button type="button" class="button btn cbtn" data-clipboard-action="copy" data-clipboard-target="#groomnum">계좌번호 복사하기</button>
									<button type="button" class="button btn" data-bs-dismiss="modal">닫기</button>
									</div>
								</div>
								</div>
							</div>	
								
						</ul>
						<ul class="buttons">
								
							<button type="button" class="button btn" data-bs-toggle="modal" data-bs-target="#brideModalp">
								신부측 혼주 계좌번호 보기
							</button>
							<!-- Modal -->
							<div class="modal fade" id="brideModalp" tabindex="-1" aria-labelledby="brideModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="brideModalLabelp">신부측 혼주 계좌번호</h5>
									</div>
									<div class="modal-body">
									<p>김한진·이정인</p> 
									<strong id="bridenum" value="농협 83712236940">농협 83712236940 </strong> 이정인
									</div>
									<div class="modal-footer">
									<button type="button" class="button btn cbtn" data-clipboard-action="copy" data-clipboard-target="#bridenump">계좌번호 복사하기</button>
									<button type="button" class="button btn" data-bs-dismiss="modal">닫기</button>
									</div>
								</div>
								</div>
							</div>	
							
							<button type="button" class="button btn" data-bs-toggle="modal" data-bs-target="#groomModalp">
								신랑측 혼주 계좌번호 보기
							</button>
							<div class="modal fade" id="groomModalp" tabindex="-1" aria-labelledby="groomModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="groomModalLabel">신랑측 혼주 계좌번호</h5>
									</div>
									<div class="modal-body">
									<p>김경덕·박금숙</p>
									<strong id="groomnump" value="대구 20008074804001">대구 20008074804001 </strong> 박금숙
									</div>
									<div class="modal-footer">
									<button type="button" class="button btn cbtn" data-clipboard-action="copy" data-clipboard-target="#groomnump">계좌번호 복사하기</button>
									<button type="button" class="button btn" data-bs-dismiss="modal">닫기</button>
									</div>
								</div>
								</div>
							</div>
						</ul>
					</footer>

				</section>

				<!-- Three -->
				<section class="wrapper style3 container special">

					<header class="major">
						<h2>Gallery</h2>
						<p>인언 & 동영의 아름다운 시작</p>
					</header>
					<div id="carouselExampleIndicators" class="carousel slide bg-light" data-bs-ride="carousel">
						<div class="carousel-indicators">
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></a>
						  <a  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20"></a>
		
						</div>
						<div class="carousel-inner" role="listbox" style=" width:100%; height: 80% !important;">
							<div class="carousel-item active" style="background-image: url({{ url_for('static', filename='images/f-.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/1----.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/1---.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/2---.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/2--.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/3---.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/3--.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/4---.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/4--.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/5---.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/5--.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/6--.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/6-.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/7--.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/7-.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/8---.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/8--.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/9---.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/9--.jpg')}})  "></div>
							<div class="carousel-item" style="background-image: url({{ url_for('static', filename='images/e-.jpg')}})  "></div>
						</div>
						<a class="carousel-control-prev"  data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Previous</span>
						</a>
						<a class="carousel-control-next" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Next</span>
						</a>
					  </div>

					  <p></p>
					  <footer class="major">
						<ul class="buttons">
							<li><a href="https://www.icloud.com/sharedalbum/ko-kr/#B14JEsNWnkoIbV" class="button" target='_blank'>사진 더 보기</a></li>
						</ul>
					</footer>
				</section>


				


				<section class="wrapper style2 container special">
					
						<header>
							<h2>결혼식 참석 여부를 알려주세요</h2>
							<p>저희 결혼식에 정성껏 모시겠습니다</p>
						</header>
						<button class="button" id="c_submit" onclick="attend()">참석 확인</button>

				</section>

				
				<!-- Two -->
				<section class="wrapper style3 container special">
					<header>
						<h2>축하인사를 남겨주세요</h2>
					</header>

					<div class="cform">
						<input type="text" class="form-control" id="thename" placeholder="성함">
					  </div>
					  <div class="cform">
						<input type="text" class="form-control" id="thephone" placeholder="연락처">
					  </div>
					  <div class="cform">
						<textarea class="form-control" id="themessage" rows="3" placeholder="축하의 말"></textarea>
					  </div>
					  <div class="cform w-100">
						<button class="button" id="c_submit" onclick="book()">Submit</button>
					  </div>
		

					<div>
						<div class="card w-100">
							<div class="card-body">
							  <p class="card-title" id="name1">김*영</p>
							  <strong><p class="card-text" id="text1">결혼축하해요!</p></strong>
							</div>
							<div class="card-body">
								<p class="card-title" id="name2">김*영</p>
								<strong><p class="card-text"  id="text2">결혼축하해요!</p></strong>
							  </div>
							  <div class="card-body">
								<p class="card-title" id="name3">김*영</p>
								<strong><p class="card-text"  id="text3">결혼축하해요!</p></strong>
							  </div>
							  <div class="card-body">
								<p class="card-title" id="name4">김*영</p>
								<strong><p class="card-text"  id="text4">결혼축하해요!</p></strong>
							  </div>
							  <div class="card-body">
								<p class="card-title" id="name5">김*영</p>
								<strong><p class="card-text" id="text5">결혼축하해요!</p></strong>
							  </div>
						
						  </div>
					</div>
				</section>

			</article>
				
			<!-- Footer -->
				<footer id="footer">
					
					
					<ul class="copyright">
						<li>&copy; 김인언 김동영</li>
					</ul>
					
					<ul class="copyright">
						<li><a href="https://analytics.google.com/analytics/web/#/p274902401/reports/defaulthome?params=_u..nav%3Ddefault"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
							<path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
						  </svg></a></li>
						<li><a href="https://github.com/DongyoungKim2/iudk_wedding"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
							<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
						  </svg></a></li>
						<li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
							<path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
						  </svg></a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
			<script>
				var clipboard = new ClipboardJS('.cbtn');
				clipboard.on('success', function(e){
					alert("복사되었습니다.");
				});
				clipboard.on('error', function(e){
					alert("실패하였습니다.");
				});
			</script>
			<script>
				$(document).ready(function(){
					$.ajax({
					type: 'POST',
					url: './load_book',
					dataType : 'JSON',
					contentType: "application/json",
					success: function(data){
						$("#name1").text(data.data['name1']);
						$("#text1").text(data.data['text1']);
						
						$("#name2").text(data.data['name2']);
						$("#text2").text(data.data['text2']);

						$("#name3").text(data.data['name3']);
						$("#text3").text(data.data['text3']);

						$("#name4").text(data.data['name4']);
						$("#text4").text(data.data['text4']);

						$("#name5").text(data.data['name5']);
						$("#text5").text(data.data['text5']);
						
					},
					error: function(request, status, error){
						alert('ajax 통신 실패')
						alert(error);
					}
				});
				});
			</script>
	</body>
</html>